@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AEZ Bank </h1> 
    <h2 class="display-6">Enayat esta e sua parte s</h2>
    <p>Learn about <a href="https://github.com/vybraan/AEZ">mwanesoft</a>.</p>
</div>
